---
import audi from "../assets/img/audi.png";
import jaguar from "../assets/img/jaguar.png";
import mercedes from "../assets/img/mercedes.png";
import porche from "../assets/img/porche.jpg";
import vw from "../assets/img/vw.png";
import skoda from "../assets/img/skoda.png";
import renault from "../assets/img/renault.png";
import opel from "../assets/img/opel.png";
---

<section class="revision">
  <main>
    <div class="bg"></div>
    <article id="revision-article">
      <header>
        <p>VEHÍCULOS GARANTIZADOS</p>
        <p>NUESTRAS REVISIONES INCLUYEN</p>
      </header>
      <main>
        <ul>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            >
            <span>Reparaciones de mecánica general</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Mantenimiento preventivo del coche</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Revisión de aire acondicionado</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Revisión del sistema de refrigeración</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Revisión del nivel de aceite</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Cambio de los filtros de aceite</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Revisión de los frenos</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Diagnóstico mecánico</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Niveles de líquidos</span>
          </li>
          <li>
            <svg
              aria-hidden="true"
              class="icon"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
              ></path></svg
            ><span>Revisión de la transmisión</span>
          </li>
        </ul>
      </main>
      <footer class="tag">
        <p>MR CARs</p>
        <p>Servicio</p>
      </footer>
    </article>
  </main>
  <hr />

  <footer>
    <p>solo las mejores marcas</p>
    <img src={audi.src} alt="audi" />
    <img src={jaguar.src} alt="jaguar" />
    <img src={mercedes.src} alt="mercedes" />
    <img src={porche.src} alt="porche" />
    <img src={vw.src} alt="vw" />
    <img src={skoda.src} alt="skoda" />
    <img src={renault.src} alt="renault" />
    <img src={opel.src} alt="opel" />
  </footer>
</section>

<style>
  .revision {
    position: relative;
    padding: 50px 0px;
    background-color: #fff;
  }

  .revision main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .revision main article {
    width: 40vw;
    padding: 20px 0px;
    padding-left: 50px;
    & header {
      width: 100%;
      text-align: center;
      & p:first-child {
        color: #ffd700;
        font-size: 12px;
        font-weight: 400;
      }
      & p:last-child {
        color: #000;
        font-size: 36px;
        font-weight: 700;
      }
    }
    & ul {
      list-style-type: none;
    }
    & .icon {
      width: 10px;
      height: 10px;
      fill: #E4A33A;
      margin-right: 5px;
    }
  }

  .revision .tag {
    background-color: #E4A33A;
    padding: 0px 5px;
    font-size: 22px;
    width: 150px;
    margin: auto;
    border-radius: 10px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    padding: 10px;
    & p {
      margin: 0;
    }
  }
  .revision main .bg {
    background-image: url("../assets/img/background_service.jpeg");
    background-size: cover;
    background-position: center;
    width: 40vw;
    border-radius: 10px;
  }

  .revision hr {
    border: none;
    height: 1px;
    background-color: #bbb;
    margin: 20px auto;
    width: 80%;
  }

  .revision footer {
    text-align: center;
    padding: 20px 0px;
    color: #333;
    & p {
      margin: 5px 0 10px;
      font-size: 26px;
      text-transform: uppercase;
    }
    & img {
      width: 92;
      height: 92;
      padding: 0 5px;
    }
  }
</style>

<script>
  const article = document.getElementById("revision-article");
  const height = article?.offsetHeight;
  document
    .querySelector(".revision main .bg")
    ?.setAttribute("style", `height: ${height}px;`);
</script>
